.mv500{
	max-width: 500px;
}
.mv550{
	max-width: 550px;
}
.mv600{
	max-width: 600px;
}
.mv650{
	max-width: 650px;
}
.mv700{
	max-width: 700px;
}
.mv750{
	max-width: 750px;
}
.mv800{
	max-width: 800px;
}